.cell {
    margin: 1px;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: thin solid black;
    float: left;
    text-align: center;
    color: red;
    font-size: 35px;
}

.row {
    clear: both;
}

#grid {
    float: left;
}

#controlPanel {
    margin: 75px;
    width: 250px;
    height: 250px;
    float: left;
    border: dashed green medium;
    background-color: lightgreen;
}

#upButton {
    width: 70px;
    height: 70px;
    margin-left: 90px;
    margin-top: 20px;
    float: left;
}

#leftButton {
    width: 70px;
    height: 70px;
    clear: both;
    margin-left: 20px;
    float: left;
}

#rightButton {
    width: 70px;
    height: 70px;
    margin-left: 70px;
    float: left;
}

#downButton {
    width: 70px;
    height: 70px;
    margin-left: 90px;
    float: left;
}

button {
    font-size: 20px;
}
