#schedulespace {
    margin: 3% 7%;
}

.TableCSS {
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.TableCSS td,
.TableCSS th {
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 25px 5px;
}

.TableCSS td {
    font-size: 13px;
    text-align: center;
}

.TableCSS th {
    background-color: rgba(0, 0, 0, 0.9);
    width: 18.6%;
}
.TableCSS th:first-child {
    background-color: rgba(0, 0, 0, 0.9);
    width: 7%;
}
.topleft th{
    width: 5%;
}

.TableCSS th {
    background: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

#PROG1311B{
    background-color: skyblue;
}
#MULT1170{
    background-color: lightcoral;
}
#SYST107{
    background-color: goldenrod;
}
#PROG1128{
    background-color: pink;
}
#MATH1183{
    background-color: darkolivegreen;
}
#PROJ1029{
    background-color: mediumpurple;
}
#DATA1024{
    background-color: seagreen;
}
#DATA1028{
    background-color: palegreen;
}
#Tutorial{
    background-color: lightgray;
}